:root {
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*=== ELEMENTOS BASE ===*/
body {
  color: #fff;
  font-family: 'Arial', Times, serif;
  background: var(--preta);
}

header {
  padding: 16px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  width: 180px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
}

header nav a + a {
  margin-left: 12px;
}

header nav a:hover {
  color: #fff;
}

/*=== FILME PRINCIPAL ===*/
.filme-principal {
  height: 400px;
  font-size: 16px;
  line-height: 26px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url('../img/capa-sherlock.jpg');
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-top: 10px;
  margin-bottom: 40px;
}

.filme-principal .titulo {
  margin-top: 15%;
  font-size: 40px;
  line-height: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
}

.botao {
  margin-right: 15px;
  padding: 15px 30px;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
  border: none;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  outline: none;
}

.botao:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s ease all;
}

.botao i {
  margin-right: 8px;
}

main .container {
  margin-left: 20px;
}

.filme-principal .container {
  width: 70%;
}

.box-filme {
  width: 100%;
  height: 100%;
  display: block;
}

.carrosel-filmes {
  margin-top: 5px;
}
